header {
  text-align: center;
  color: var(--gray-9);
  nav {
    display: flex;
    justify-content: end;
    gap: var(--size-4);
    a {
      text-decoration: none;
      color: var(--gray-8);
      @media (--OSdark) {
        color: var(--gray-1);
      }
    }
  }
}
