.post--card {
  padding: 3rem 2.25rem 1.6rem;
  color: var(--gray-8);
  text-decoration: none;
  display: block;
  height: 100%;
  border-radius: var(--radius-3);
  background: white;
  box-shadow: inset 0px 0px;
  @media (--OSdark) {
    background: var(--gray-9);
    color: var(--gray-1);
  }
  h3 {
    margin-top: 0;
  }
  p {
    --font-size: var(--font-size-1);
  }
}
